<div class="divisao"></div>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-5">
    <div class="espaco-desc">
      <h3>Esse é o seu espaço</h3>
      <ul>
        <li><i class="fas fa-chart-pie fa-lg icones"></i>&nbsp;&nbsp;Acompanhe a evolução do seu projeto</li>
        <li><i class="fas fa-desktop fa-lg icones"></i>&nbsp;&nbsp;Veja os protótipos já publicados</li>
        <li><i class="fas fa-comment-alt fa-lg icones"></i>&nbsp;&nbsp;Envie comentários sobre o que foi desenvolvido</li>
        <li><i class="fas fa-cogs fa-lg icones"></i>&nbsp;&nbsp;Sugira alterações e ajude na construção</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="enter-hash">
      <h3>Já estamos trabalhando juntos?</h3>
      <label>Insira o código que você recebeu por email e acompanhe o andamento do seu projeto</label>
      <input class="form-control" type="text" ng-model="codigoCliente" placeholder="Insira aqui seu código..." />
      <br>
      <button type="button" class="btn btn-info" (click)="open()">Acompanhar</button>
      <button type="button" class="btn btn-link"  >Esqueci meu código...</button>
    </div>
  </div>
</div>