<div class="portfolio">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="C:\Users\Diego\Documents\Code\front-end\gogodevapp\src\images\laisapp3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">LaisApp</h5>
        <p class="card-text">WEB APP desenvolvido para melhorar o sistema de compilação de uma software house.
          Nesse programa os testadores de software podem escolher o módulo que desejam compilar, após isso é enviada uma 
          requisição para o servidor que realiza a compilação do código fonte e entrega o link para download do módulo compilado
        </p>
        <p class="card-text"><small class="text-muted">Frontend: Agular2. Backend: GO Lang + .bat Script</small></p>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="C:\Users\Diego\Documents\Code\front-end\gogodevapp\src\images\gogoesp2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Espaço do Cliente</h5>
          <p class="card-text">Ferramenta de gerenciamento de tarefas, criado para que nossos clientes possam 
            acompanhar o andamento dos seus projetos, dar sugestões e tirar dúvidas.
          </p>
          <p class="card-text"><small class="text-muted">Frontend: Angular5 Backend: PHP Laravel</small></p>
        </div>
      </div>
  </div>
</div>
<app-rodape ></app-rodape>