.navbar-default{
    background-color: #9931cc;
}

.navbar-default .navbar-brand {
    color: white;
}

.nav-item{
    font-size: 1.25em;
    color: white;
}

.nav-item:hover{
    font-size: 1.25em;
    color: #00FA9A;
}

.divisao{
    background-color: #00FA9A;
    height: 4px;
}

.nav-container{
    position: fixed;
}