<nav class="navbar navbar-expand-lg navbar-default">
  <a class="navbar-brand" href="#">
    <img src="C:\Users\Diego\Documents\Code\front-end\gogodevapp\src\images\gogodev-roxo-verde.png" alt="" /> 
  </a>  
  <button id="navbar" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home">Home 
          <span class="sr-only">(current)</span>
        </a> 
        <a class="nav-item nav-link active" routerLink="/portfolio">Portfólio 
          <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" routerLink="/cliente">Espaço do cliente 
          <span class="sr-only">(current)</span>
        </a>
      </div>
    </div>	
</nav>
  
<router-outlet></router-outlet>
