<img class="navbar-brand" src="C:\Users\Diego\Documents\Code\front-end\gogodevapp\src\images\gogodev2.png" />
<nav class="navbar navbar-expand-lg navbar-default">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home">Home 
          <span class="sr-only">(current)</span>
        </a> 
        <a class="nav-item nav-link active" routerLink="/artigos">Artigos 
          <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" routerLink="/tags">Tags 
          <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="/tutoriais">Tutoriais 
          <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="/novoartigo">Novo 
          <span class="sr-only">(current)</span>
        </a>
      </div>
    </div>	
</nav>
<router-outlet></router-outlet>
