<div class="wrapper">
  <div class="slide-painel">
    <div id="carouselSlide" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="C:/Users/Diego/Documents/Code/front-end/gogodevapp/src/images/banner4.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="C:/Users/Diego/Documents/Code/front-end/gogodevapp/src/images/bannertec.jpg" alt="First slide">
        </div>
      </div>
    </div>
  </div>
  <div class="more-info">
    <div class="more-info-descricao">
      <div class="row fazemos-titulo">
        <div class="col-sm-12">
          <h3>O QUE FAZEMOS</h3>
        </div>
      </div>
      <div class="row fazemos-texto">
        <div class="col-sm-4">
          <h4><i class="fas fa-code"></i> WEB APPS</h4>
          <p>Tenha seu site ou aplicação na web desenvolvido com as ferramentas mais atuais do mercado. 
             Para seu frontend utilizamos Angular e Bootstrap, já no backend você pode optar entre Java Spring,
             Go Lang e PHP Laravel.</p>
        </div>
        <div class="col-sm-4">
          <h4><i class="fab fa-android"></i> ANDROID</h4>
          <p>Leve seu negócio para o robozinho e amplie sua visibilidade, queremos ajudar o seu negócio a se diferenciar dos demais. 
             Atualmente trabalhamos com a ferramenta Xamarin da microsoft para construção de Apps multiplataforma.</p>
        </div>
        <div class="col-sm-4">
          <h4><i class="fas fa-cloud"></i> CLOUD</h4>
          <p>Se você precisa levar seu sistema para a nuvem, ajudamos você na contrução do seu Backend, utilizando ferramentas como Java Spring, Go Lang, Docker e RabbitMQ criamos serviços eficientes e leves.</p>
        </div>
      </div>
      <div class="row fazemos-texto">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <h4><i class="far fa-lightbulb"></i> IDEA LAB</h4>
          <p>Com nosso laboratório de idéias podemos ajudar a transformar seu negócio em um negócio digital. 
            Agendamos uma entrevista e conversamos sobre seu negócio, após isso passaremos um prazo estudando sobre 
            as possibilidades de diferenciar do mercado, ao final apresentaremos sugestões.
          </p>
        </div>
        <div class="col-sm-4">
          <h4><i class="fas fa-sync-alt"></i> INTEGRAÇÕES</h4>
          <p>Precisa de um middleware para sua integração. Nos envie a documentação dos sistemas que precisam ser integrados
             faremos uma avaliação e enviaremos um orçamento sem compromisso.
          </p>
        </div>         
      </div>
    </div>
    <app-rodape ></app-rodape>
  </div>
</div>


