<div >
  <div class="row divisao">
  </div>
  <div class="row apresentacao">
    <div class="col-sm-7 caixa">
      <h2 class="titulo">Eleve suas idéias ao próximo nível</h2>
      <h3 class="texto">Contrate nosso serviço de desenvolvimento OnDemand e tire seus projetos do papel, 
        criamos aplicações para a web ou mobile, sempre com as ferramentas mais atuais do mercado </h3>
      <br>
      <button type="button" class="btn btn-default">Solicite um orçamento</button>
    </div>  
    <div class="col-sm-5">
      <img class="img-web" src="C:/Users/Diego/Documents/Code/front-end/gogodevapp/src/images/web.jpg" />
    </div>
  </div>
  <div class="row tecs">
    <img src="C:\Users\Diego\Documents\Code\front-end\gogodevapp\src\images\angularwhite.png" />
  </div>
</div>


<form >
    <div >
      <label>Nome </label><br >
      <input type="text" class="form-control" placeholder="Informe seu nome" aria-label="Nome" aria-describedby="basic-addon1">
      
      <label>Email </label><br >
      <input type="email" class="form-control" placeholder="Deixe seu email" aria-label="email" aria-describedby="basic-addon2">
      
      <label>Projeto </label><br >
      <textarea class="form-control" aria-label="projeto"></textarea>
      <br>
      <div class="input-group">
        <button type="button" class="btn btn-default">Enviar</button>
      </div>
    </div>
  </form>
