.slide-painel{
    position: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    top:86px;
    left: 0;
    right: 0;
}

.more-info{
    background-color: white;
    margin-top: 400px;
    position:absolute;
    width:100%;
}


.d-block{
    height: 400px !important;
}

.more-info-descricao{
    margin-top: 50px;
}

.fazemos-titulo{
    text-align: center;
}

.fazemos-texto{
    margin: 30px;
    background-color: white;
}

